anytree==2.12.1
transformers==4.47.1
accelerate==1.2.1
openai==1.60.0
httpx==0.23.0
pandas
numpy
graphviz==0.20.3
unified-planning==1.2.0
up-aries
#unified-planning[pyperplan,tamer,plot]
up-pyperplan
ast
regex
#up-tamer